/* Global Styles
--------------*/

body {
    background-color: #85dcff;
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    min-width: 700px;
}

nav {
    font-size: 24px;
    font-family: monospace;
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

a {
    color: white;
}

nav a:hover {
    color: #eeda12;
}

h1 {
    font-size: 64px;
    padding: 5px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    padding-top: 10px;
    margin: 0 auto;
    width: fit-content;
}

figure img {
    width: 512px;
    height: auto;
    border-style: solid;
    border-width: 2px;
}

.container {
    height: fit-content;
    border: #125a77;
    background: #1e91bf;
    border-style: solid;
    border-width: 6px;
    padding: 15px;

}

main {
    margin: 35px auto;
    padding: 15px;
}

footer {
    color: white;
    font-size: 16px;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    margin: 0;
    padding: 2px;
    width: 300px;
    display: inline-block;
}

footer a {
    font-weight: bolder;
}

footer a:hover {
    font-style: italic;
}

/* Enemy Styles
------------------*/

.enemy {
    background-color: #802d2d;
}

.enemy main.container {
    background-color: #ff6c6f;
    border-color: #7d0000;
}

.enemy .container {
    background-color: #d00d10;
    border-color: #7d0000;
}

.enemy figure img {
    border-color: #7d0000;
    background-color: #7d0000;
}

/* Tumore Styles
------------------*/

.tumore {
    background-color: #362574;
}

.tumore main.container {
    background-color: #856be1;
}

.tumore .container {
    background-color: #6039f3;
    border-color: #421fc1;
}

.tumore main a {
    color: #421fc1
}

.tumore main a:hover {
    color: #d00d10;
}

.tumore figure img {
    border-color: #d00d10;
    background-color: #7d0000;
}

/*
-------------*/
#difficulty-button {
    height: 60px;
    vertical-align: middle;
    width: fit-content;
}

#difficulty-button button {
    background: none;
    border-style: none;
    width: 60px;
    height: 60px;
}

#difficulty-button a {
    margin: 0px;
}

#difficulty-button img {
    transition: all 0.35s ease-out;
}

#difficulty-button:hover img {
    transform: scale(1.5);
}

#difficulty-button label {
    font-size: 16px;
    color: white;
    float: right;
    background-color: #125a77;
}

#boss-list {
    font-size: 30px;
    font-family: monospace;
    font-weight: 800;
    text-transform: uppercase;
    width: 300px;
}

#boss-list ul {
    margin: 5px;
    color: white;
}

#boss-list li {
    padding: 5px;
}